# Super Admin credentials
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-this-password

# NextAuth
NEXTAUTH_SECRET=change-this-to-a-secure-random-string-in-production
NEXTAUTH_URL=http://localhost:2424

# App
PORT=2424
SESSION_TIMEOUT_HOURS=720
